.r{
    font-family: verdana;
    color:blue;
}
.e{
    font-family:Tahoma;
    color:rgb(5, 5, 148);
}
.body{
    background-color:rgba(185, 210, 238, 0.856);
    text-align:center;
}
.ol{
    text-align:center;
}
.s{
    color:rgb(5, 5, 148);
    font-family:Tahoma;
}
.s{
    color:rgb(51, 51, 128);
    font-family:Tahoma;
}
.v{
    color:rgb(51, 51, 128);
    font-family:Tahoma;
}


.h3{
    color:rgb(57, 9, 102)
}